---
---

@import "{{ site.theme }}";

.navBar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    top: 0;
    padding: 10px;
    background-color: #dddddd;
}

.orderedList {
	position: sticky;
	top: 0;
	padding: 1%
}

.description {
	background-color: #dddddd;
	line-height: 2.0;
}
li:last-child {
  border-right: none;
}

header > div > ol > li {
	display: inline;
	float: left;
	border-right: 1px solid #bbb;
}

.memorialImage{
	border-radius: 50%;
}
.mainImage{
	border-radius: 10%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

.firstImage{
	float: left;
	margin-left: 15px;
	border-radius: 50%;
}

.feliMemorial{
	text-align: justify;
	line-height: 2.0;
	padding-top: 50px;
	padding-left: 5px;
}

.navBar a {
	padding: 20px;
}

.active {
	background-color: #4CAF50;
}

.homeParagraph{
	text-align: justify;
	line-height: 1.8;
}
